html, body
{
  height: 100%;
  margin:0;
 
}      


header

{
    font-family: 'Homemade Apple', cursive;
    background-color:rgb(222, 222, 222);
    height:10%;
    color:rgb(105, 49, 146);
    text-align:center;
    font-size:21px;
}

nav
{
    height:5%;
    display:flex;
}

#quote
{
    display:flex;
    width:100%;
    font-family: 'Homemade Apple', cursive;
    color: rgb(105, 49, 146);
    text-align: center;
}

section
{

    background-color:rgb(222, 222, 222);
    font-family: 'Homemade Apple', cursive
    height:10%;
}

#box17

{
    flex:2;
    background-color: rgb(152, 152, 152);
    text-align:center;
    border-style:double;
}

#box1

{
    flex:2;
    background-color:rgb(142, 219, 250);
    text-align:center;
    border-style:double;
}


#box2
{
    flex:2;
    background-color:rgb(152, 152, 152);
    text-align:center;
    border-style:double;
    
}


#box3
{
    
    flex:2;
    background-color:rgb(255, 153, 204);
    text-align:center;
    border-style:double;
}

#box4
{  
    height:50%;
    background-image:url("../img/arodfierce.jpg");
    background-size:100% 100%;
    text-align:center;
    font-family:'Homemade Apple', cursive;
    font-size: 1em;
    max-width:100% 100%;
}



footer
{ 
    display:flex;
    flex:3;
    background-color:rgb(255, 153, 204);
    height:10%;
    text-align:center;
}

a
{
    text-decoration: none;
}

.img
{
    display:flex;
    flex:1;
    background-color:rgb(142, 219, 250);
}

.text
{
    background-color:rgb(152, 152, 152);
    display:flex;
    flex:1;
}

.logo
{
    background-color:rgb(255, 153, 204)
    display:flex;
    flex:1;
}
    

    
    
/*blue color for the beginning when Arod was declared a boy; pink when Arod turns out to be a girl; Grey For slim shady's
teen years; purple because pink and blue give you a shade of purple.*/

/*color codes: 
pink:  rgb(255, 153, 204)
light grey: rgb(222, 222, 222)
light blue::rgb(142, 219, 250) 
purple: rgb(105, 49, 146)
darK grey: rgb(152, 152, 152)

*/




    
